.button-site {
  margin: 0;
  border: none;
  border-radius: 25px;
  padding: 10px 32px;
  min-width: 85px;

  color: $title-text-color;
  background-color: $button-color;

  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;

  transition: visibility 250ms $timing-function;
  &:hover,
  &:focus {
    background: $accent-color;
  }
}
