.hero {
  height: 876px;
}

.make-flex {
  display: flex;
  position: relative;
  z-index: -1;
}

.social-list {
  @extend %list;
  margin-top: 588px;
  transform: translateX(37px);

  .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .social-icon {
    fill: $title-text-color;
  }
}

.hero-circle-outline {
  position: relative;

  width: 801px;
  height: 801px;
  border-radius: 50%;
  background-color: $background-accent-color;
  border: 1px solid $accent-color;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before {
    position: relative;
    transform: translate(850px, 240px);

    display: flex;
    content: "";
    width: 86px;
    height: 82px;
    background-size: 140px;

    background-image: url("./../../images/tomato2.png");
    box-shadow: 24px 40px 32px 0px #0000001f;
    border-radius: 50px;
  }
}

.hero-circle-background {
  transform: translate(90px, -120px);

  width: 1079px;
  height: 1051px;
  border-radius: 50%;
  background-color: $background-accent-color;
}

.hero-circle-white {
  transform: translateX(-60px);

  width: 1083px;
  height: 1083px;
  border-radius: 50%;
  border: 1px solid $accent-color;

  &::before {
    position: relative;
    transform: translate(800px, 225px);

    z-index: 10;
    display: flex;
    content: "480 kkal";
    width: 94px;
    height: 94px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    background-color: $button-color;
  }

  &::after {
    display: inline-block;
    transform: translate(825px, -210px);

    content: "";
    width: 86px;
    height: 82px;
    background-image: url("./../../images/tomato.png");
    box-shadow: 24px 40px 32px 0px #0000001f;
    background-size: 140px;
    border-radius: 50px;
  }
}

.hero-image {
  transform: translate(15%, 0%);
}

.hero-title {
  margin-top: 0;

  font-family: Poppins;
  font-size: 96px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: $title-text-color;

  &::after {
    display: flex;
    content: "";
    width: 116px;
    height: 3px;

    background-color: $title-text-color;
  }
}

.hero-text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 48px;

  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  width: 474px;
}

.hero-button {
  @extend %list;
  display: flex;

  .item:not(:last-child) {
    margin-right: 24px;
  }
}

.hero-container {
  transform: translateY(320px);
}
