.logo-black {
  @extend %logo;

  color: $title-text-color;

  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 48px;

  margin-right: 1310px;

  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo-white {
  @extend %logo;
  display: inline-block;
  margin: 0;
  color: #fafafa;
}

.accent {
  color: $accent-color;
}
