.section-reviews {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  align-items: center;

  .reviews-title {
    @extend %section-title-after;
    margin-top: 0;

    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: $title-text-color;
    font-size: 48px;
    text-align: center;

    &::after {
      transform: translate(800px, 25px);
    }
  }
}

.carousel-control-prev-icon {
  width: 54px;
  height: 54px;
  background-image: url(".../../../images/arrow_left.svg");
}

.carousel-control-next-icon {
  width: 54px;
  height: 54px;
  background-image: url(".../../../images/arrow_right.svg");
}

.reviews-image {
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
}

.image-top {
  transform: translateY(-48px);
}

.carousel-caption {
  transform: translate(340px, 140px);
  width: 344px;
  font-family: Cabin, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: $primary-text-color;
}

.carousel-inner {
  transform: translateX(100px);
  padding-top: 110px;
  padding-bottom: 100px;
}

.carousel-control-prev {
  transform: translateX(150px);
}

.carousel-control-next {
  transform: translateX(-150px);
}

.reviews-subtitle {
  transform: translateX(-120px);
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #342b2b;

  &.active {
    transform: translateX(0px);
    margin-bottom: 72px;
  }
}

.controls-label {
  width: 10px;
  height: 10px;
  padding: 5px;
  background-color: #dedede;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.9s ease;

  &:hover {
    transform: scale(1.1);
    background-color: #65636a;
  }

  &:not(:last-child) {
    margin-right: 32px;
  }
}

.controls-radio {
  position: absolute;
  visibility: hidden;
}

.col {
  flex: 0.2 0 0%;
}
.row {
  justify-content: center;
}

.reviews-circle-background {
  position: absolute;
  z-index: -1;
  transform: translate(2220px, -210px);
  width: 903px;
  height: 880px;
  background-color: $background-accent-color;
  border-radius: 50%;
}

.slider-controls {
  transform: translate(830px, 425px);
}
