html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffff;
  color: $primary-text-color;
  font-family: Cabin, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.background-accent {
  background-color: $accent-color;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 56px;
  padding-right: 56px;
  min-height: inherit;

  width: 1920px;
  // outline: 1px solid teal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
