$background-accent-color: #fafafa;
$button-color: #ffdd63;
$primary-text-color: #65636a;

$title-text-color: #282630;
$accent-color: #fee382;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$icons: "facebook", "linkedin", "twitter";
